########################################
# VISUAL STUDIO / IDE
########################################
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
########################################
# LOGS Y REPORTES
########################################
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.*.json

########################################
# ARCHIVOS DE RUNTIME / TEMPORALES
########################################
pids/
*.pid
*.seed
*.pid.lock

########################################
# BINARIOS Y BUILD DE .NET
########################################
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
publish/

########################################
# DEPENDENCIAS NODE / FRONTEND
########################################
node_modules/
bower_components/
jspm_packages/
web_modules/

########################################
# CACHES Y COMPILACIONES JS/TS
########################################
*.tsbuildinfo
.npm/
.eslintcache
.stylelintcache
.cache/
.parcel-cache/
dist/
out/
coverage/
.nyc_output/

########################################
# VARIABLES DE ENTORNO
########################################
.env
.env.*
!.env.example

# Archivos ZIP generados (build, deploy, paquetes)
*.zip


########################################
# FRAMEWORKS Y TOOLS
########################################
.next/
.nuxt/
.svelte-kit/
.vuepress/dist/
.docusaurus/
.serverless/
.firebase/
.fusebox/
.dynamodb/

########################################
# VSCODE / YARN
########################################
.vscode-test/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

########################################
# CONFIGURACIONES TEMPORALES
########################################
vite.config.*.timestamp-*
.tern-port
